<h1>{{ title }}</h1>
<a routerLink="/">Accueil</a>
<a routerLink="/pizzas">Les pizzas</a>

<router-outlet></router-outlet>

<app-pizza [pizza]="selectedPizza"></app-pizza>
<div *ngIf="selectedPizza">
    <button (click)="switchPizza()">Changer</button>
</div>

<h2>Les pizzas</h2>
<ul class="pizzas">
    <li *ngFor="let pizza of pizzas; index as i"
        (click)="selectPizza(pizza)"
        [class.selected]="pizza === selectedPizza">
        <span>{{ i }}: {{ pizza.name }}</span>
    </li>
</ul>
<div *ngIf="loading">
    Chargement...
</div>

<app-ingredient-list [ingredients]="ingredients"
    (selected)="selectIngredient($event)"
></app-ingredient-list>
<app-author [author]="user"></app-author>
